<footer>
    <div class="container-fluid">
      <div class="container text-start text-sm-center">
        <div class="row ">
          
            <div class="col-lg-4 col-md col-sm text-sm-start ">
              <h1>Navbar</h1>
              <p>description</p>
              <p>links of insta fb yt twt</p>
            </div>
            <div class="col-lg-3 col-md col-sm">
              <h1>Links</h1>
              <ul>
                <li>
                  <a href="#">projects</a>
                </li>
                <li>
                  <a href="#">Join us</a>
                </li>
              </ul>
            </div>
            <div class="col-lg-3 col-md col-sm">
              <h1>Services</h1>
              <ul>
                <li>
                  <a href="#">Artificial Intelligence</a>
                </li>
                <li>
                  <a href="#">Security</a>
                </li>
              </ul>

            </div>
            <div class="col-lg-2 col-md col-sm">
              <h1>Contact</h1>
              <ul>
                <li>
                  <i></i>
                  <a href="#">+91 12345 67890</a>
                </li>
                <li>
                  <i></i>
                  <a href="#">gmail</a>
                </li>
                <li>
                  <i></i>
                  <a href="#">location</a>
                </li>
              </ul>
            </div>
          </div>
        
        <div class="row text-center">
          <hr>
          <h6>@2022 Navbar all Rights are reserved</h6>
        </div>

      </div>
      

  </footer>