
<div class = "footer">
        <div class = "row">
            <ul class="column">
                <h1><a href = "/about-us">About Us</a></h1>
            </ul>
            <ul class="column">
                
                <h1>Contact</h1>
                <li><a href="#">Mail</a></li>
                <li><a href="#">LinkedIn</a></li>
                <li><a href="#">Mail</a></li>
            </ul>
            <ul class="column" i>
                <div class="social">
                    <h1>Follow Us</h1>
                    <li><a href="#"><img src="/static/img/facebook 1.png" alt = "facebook"></a></li>
                    <li><a href="#"><img src="/static/img/instagram 2.png" alt = "instagram"></a></li>
                    <li><a href="#"><img src="/static/img/twitter 2.png" alt = "twitter"></a></li>
                </div>
            </ul>
        </div>
</div>